{% extends 'admin/master.html' %}
{% from "security/_macros.html" import render_field %}
{% block body %}
{{ super() }}
<div class="row-fluid">
    <div class="col-sm-6 col-sm-offset-3 text-center">
        <h1 >Two Factor Verification</h1>
        <h3 >Code for {{ user_email }}</h3>
        <div class="well">
            <form method="POST" name="login_user_form">
                {{ form.hidden_tag() }}
                {{ render_field(form.code) }}
                {{ render_field(form.submit, class="btn btn-primary") }}
            </form>
        </div>
    </div>
</div>
{% endblock body %}