{% extends 'admin/base.html' %}
{% block body %}
      <h1>Loyalty Discount</h1>
    <table style="width:100%">
      {% for label in labels %}
          <tr>
              <th><b> {{ label.name }} </b></th>
              <th>{{ label.value }} </th>
          </tr>
      {% endfor %}

        <form action="" method="POST">
            {{ form.hidden_tag() }}
            {% if need_present %}
                <tr>
                    <th>{{ form.present_given.label }} </th>
                    <th>{{ form.present_given() }}</th>
                </tr>

            {% endif %}
        <tr>
             <th>{{ form.submit() }}  {{ form.abort() }}</th>
        </tr>
        </form>
    </table>
{% endblock %}