{% extends 'admin/base.html' %}
{% block body %}
      <h1>Loyalty Discount</h1>
    <table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Value</th>
        </tr>
    </thead>
      {% for label in labels %}
          <tr>
              <th>{{ label.name }} </th>
              <th>{{ label.value }} </th>
          </tr>
      {% endfor %}
    </table>

    <form action="" method="POST" class="form">
            {{ form.hidden_tag() }}
            {% if need_present %}

                <div>
                {{ form.present_given.label }} {{ form.present_given() }}
                </div>

            {% endif %}

             {{ form.submit() }}  {{ form.abort() }}

    </form>
{% endblock %}